@import "variables"; 
@import "mixins";
@import "normalize";
@import "layout";

* {
  box-sizing: border-box;
}


@for $i from 1 through 12 {
  .col-sm-#{$i} {
    $width: 100% / 12 * $i;
    flex: 0 0 $width;
    max-width: $width;
 }
}

body {
	background: #f5f5f2;
	font-family: "Open Sans";
	font-size: 12px;
	color: #979797;
}

/*.clearfix:before, .row:before,
.clearfix:after, .row:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}*/

.container {	
	background-color: #ffffff;
	//border:  lightgray solid 1px;
	padding: 15px;
	margin: 0 auto;
	width: 100%;
}
.container-fluid {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.content {
	margin: 10px;
	padding: 0;
	background-color: #ffffff;	
}

[class*="col-"] {
	float: left;
	min-height: 1px;
	padding: 5px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media (max-width: 767px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
@media (min-width: 768px) {
    /* For desktop: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}
.row {
  display: flex;
  flex-wrap: nowrap;
}
.col-sm-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}
.col-sm-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}
.col-sm-3 {
  flex: 0 0 25%;
  max-width: 25%;
}
.col-sm-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}
.col-sm-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}
.col-sm-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.col-sm-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}
.col-sm-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.col-sm-9 {
  flex: 0 0 75%;
  max-width: 75%;
}
.col-sm-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.col-sm-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.col-sm-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

@media(max-width: 767px) {
  @include grid('sm');
}

@media(min-width: 768px) {
  @include grid('md');
}

@media(min-width: 992px) {
  @include grid('lg');
}

@media(min-width: 1200px) {
  @include grid('xl');
}

            /* HEADER */
            
header {
	//background: #487010;
    background-color: $frame;
	line-height: 48px;
	position: fixed;
	margin: 0 0 20px auto;
	top: 0;
	right:0;
	width: 100%;
	text-align: right;
	//border: lightgray solid 1px;
}

header .list {
	list-style-type: none;
	position: relative;
	
}
header ul {
	margin: 0;
	margin-block-end: -1px;
}

header .list-item {
	display: inline-block;
	padding: 0 10px;
	//margin: 1px;
	//border-left: lightgray solid 1px;
}

.list-item:hover {
	background-color: #f5f5f2;
}

a {
	text-decoration: none;

}

/* The side navigation menu */
.sidebar {
  top: 0;
  margin: 0;
  padding: 0;
  padding-top: 15px;
  width: 180px;
  //background-color: #5c3612;
  background-color: $frame;
  position: fixed;
  height: 100%;
  overflow: auto;
  font-size: 13px;
}

/* Sidebar links */
.sidebar a {
	display: block;
	color: #ffffff;
	padding: 14px;
	text-decoration: none;
	position: relative;  
}

.used-page {
	//border-left: solid 2px orange;
	
}
/* Active/current link */
.sidebar a.active {
	background-color: #4CAF50;
	color: green;
	//border: solid 2px orange;
}

a.hover:hover {
	//background-color: #979797;
	//background-color: #979797;
	//backdrop-filter: invert(70%);
	//backdrop-filter: brightness(50%);
	//backdrop-filter: hue-rotate(120deg);
	backdrop-filter: sepia(90%) brightness(120%);
	transition: 0.5s;
}
.mobile {
	display: inline-block;
	text-align: left;
	color: white;
	text-decoration: none;
	width: 100%;
	.mobile-row {
		padding: 14px 0;
	}
}
 
.icons {
	width: 13px;
	height: 13px;
	padding: 0 13px;
	margin: 8px;
	color: lightgray;
	display: inline-block;
}


.gen-stat {
	text-align: center;
	margin: 20px 0;
	div {
		display: inline-block;
		white-space: nowrap;
	}
}

.little-btn, .add-btn {
	background-color: #F58220;
	padding: 2px;
	border: solid 1px #f58220;
	margin: 20px 0;
	color: white;
	display: inline-block;
	text-align: center;
}

.little-btn:hover, .add-btn:hover {
	background-color: #FFA200;
}

.little-btn {	
	border-radius: 20%;
	margin: 0 auto;
	height: 23px;
	cursor: pointer;
}

.add-btn {
	margin-left: 40%;
	width: 20%;
	display: inline-block;
	text-align: center;
	border-radius:5%;
	color: white;	
	cursor: pointer;
}

#calendar {
	width: 170px;
}

.date-btn {
	position: relative;
	left: -40px;
	top: 2px;
	width: 0;
	color: black;
	cursor: pointer;
	pointer-events: none;
}

.bold-value {
	font-weight: bold;
	color: gray;
	font-size: 14px;
}
.blue {
	color: #56819f;
	font-size: 11px;
	text-decoration: none;	
}

.green {
	background-color: #04ae00;
	border-radius: 50%;
	height: 8px;
	width: 8px;
}
.main {
	margin-top: 40px;
	width: 100%;	
}

.menu {
	overflow: hidden;
	height: 70px;
}

.menu.show {
	height: 100%;
	overflow-y: auto;
}

#topnav {
	display: none;
}

.underline {
	text-decoration: lightgray underline;
}

.separate {
	display: block;
	padding: 10px;
	border-bottom: lightgray solid 1px;
	width: 100%;
}

#manager {
	margin-bottom: 10px;
}

div.manager {
	display: block;
	padding: 0;
	border-top: 1px solid lightgray;
}

.manager-name {
	text-align: right;
	display: inline-block;
	top: 10px;
	left: 20px;
}

.photo {
	border-radius: 50%;
    width: 45px;    
    height: 45px;
    object-fit: cover;
	position: absolute;
	top: -8px;
	left: 6px;
}
.logo {
	top: 8px;
	left: 10px;
	margin-bottom: 22px;
	right: 20px;
	img {
		width: 85px;    
		position: absolute;
		top: 8px;
		left: 10px;
	}
}

.dot {
	border-radius: 50%;
    width: 9px;    
    height: 9px;
    object-fit: cover;
	border: solid green 1px;
	background: green;
	z-index: 1;
	position: absolute;
	top: -5px;
	right: 15px;
}

.orange-dot {
	border-radius: 50%;
    width: 7px;    
    height: 7px;
    object-fit: cover;
	background: #f58220;
	border: solid #f58220 1px;
	position: relative;
	top: -7px;
	right: 3px;
	display: inline-block;
}


.links {
	border-top: solid lightgray 1px;
	border-bottom: solid lightgray 1px;
	margin: 0 20px;
	line-height: 30px;
	
	.blue {
		text-align: center;
	}
	.icons {
		margin: 14px;
		text-align: right;
		wrap: nowrap;
		float: right;
	}
}

.icon {
	margin: 0 auto;
	padding: 4px;
}	
	
.links:hover {
	background: #f5f5f2;
	.unvisibility {
		visibility: visible;
	}
}

element.style {
	line-height: 40px;
	margin: 0;
}
.center {
	margin-left: auto;
	margin-right: auto;
}

.right {
	float: right;
	text-align: right;
	margin-left: 20px;
}
.hamburger {
	position: relative;
	left: 105px;
	top: 0;
	height: 16px;
	width: 16px;
	fill: white;
}
.grey {
	color: #979797;
	stroke: #979797;
	wrap:nowrap;
}

.orange {
	color: orange;
	stroke: orange;
}

.unvisibility {
	visibility: hidden;
}
	
@media(min-width: 768px) {
	.menu {
		height: 100%;	
	}	
	.main {
		margin-top: 70px;
		//padding-right: 10px;
		padding-left: 210px;
	}	
	.mobile {
		display: none;
	}
	#topnav {
		display: block;
	}
}

@media(min-width: 992px) {	
	.center {
		width: 50%;
	}
	.links {
		padding: 0 25%;
	}
}
#main {
    //background-image: url("../images/background.jpg");
    background-image: url("https://raw.githubusercontent.com/agmatyja/stowarzyszenie-start/main/images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    //background-position: 180px 0;
    width: 100%;
    height: 100vh;
    padding-left: 190px;
    padding-top: 80px;
    content {
        display: block;
        margin-left: -10px;
        margin-top: -4px;
        padding: 0;
        width: 100%;
        height: 100%;
        color:black;
        font-size: 20px;
        //backdrop-filter: blur(20px) brightness(100%) saturate(0.9);
    }
}

.prawy{
    padding-right: 14px;
    font-size: 14px;
    color: #ffffff;
}
.footer {
  //background-color: #2d5c08;
  display: block;
  width: 100%;
  left: 180px;
  bottom: 0;
  position: fixed;
  //margin-top: 90%;
  .container {
      background-color: $frame;
      border: none;
      color: white;
      height: 100px;
  }

    ul {
      position:absolute;
      top:50%;
      //left:50%;
      right: 40px;
      transform: translate(-50%, -50%);
      margin-top: 0;
      margin-left: -180px;
      padding: 0;
      display:flex;
    }

    ul li {
      list-style: none;
    }

    ul li a {
      position: relative;
      width:60px;
      height:60px;
      display:block;
      text-align:center;
      margin:0 10px;
      border-radius: 50%;
      padding: 6px;
      box-sizing: border-box;
      text-decoration:none;
      box-shadow: 0 10px 15px rgba(0,0,0,0.3);
      background: linear-gradient(0deg, #ddd, #fff);
      transition: .5s;
    }

    ul li a:hover {
      box-shadow: 0 2px 5px rgba(0,0,0,0.3);
      text-decoration:none;
    }

    ul li a .fab {
      widht: 100%;
      height:100%;
      display:block;
      background: linear-gradient(0deg, #fff, #ddd);
      border-radius: 50%;
      line-height: calc(60px - 12px);
      font-size:24px;
      color: #262626;
      transition: .5s;
    }

    ul li:nth-child(1) a:hover .fab {
      color: #3b5998;
    }

    ul li:nth-child(2) a:hover .fab {
      color: #00aced;
    }

    ul li:nth-child(3) a:hover .fab {
      color: #e4405f;
    }

    ul li:nth-child(4) a:hover .fab {
      color: #000080;
    }
}

/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}
